*.o
*.os
*.oS
*.dep
*.a
uClibc-0.9.29/extra/*
uClibc-0.9.29/include/*
insight-6.8/src/gdb/gdbserver/*
log.txt
uclibc_log.txt
binutils-2.19/build-uclibc/
binutils-2.19/build/
gcc-4.4.2/build-uclibc/
gcc-4.4.2/build/
insight-6.8/build-uclibc/
insight-6.8/build/
insight/src/gdb/gdbserver

